body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.p-0 {

  font-family: "Poor Richard";
  font-size: 24px;
  font-display: #fff;
  font-weight: bolder;

}

.mt-5, .navbar {
  background-image: url('../src/assets/images/swirls.jpeg');
  font-family: "Poor Richard";
  font-size: 24px;
  font-display: #fff;
  font-weight: bolder;
  color: rgb(7, 6, 6);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.j-card {
  margin: 20px;

}

.j-card-image {
  border-radius: 10px;
  width: 500px;
  height: 380px;
  box-shadow: 0px 0px 3px 1px #ccc;
}

.j-card-info {
  margin-top: 10px;
  min-height: 100px;
}

.j-card-title {
  font-size: 24px;
  margin: 0px;
}

.j-card-sub-title {
  font-size: 16px;
  margin: 0px;
}

.center {
  border-radius: 100px;
  width: 350px;
  height: 350px;
  box-shadow: 0px 0px 3px 1px #ccc;
  margin: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.sucess-msg {
  color:rgb(22, 78, 233);
  padding: 10px 15px;
}

.err-msg {
  color:rgb(246, 10, 10);
  padding: 10px 15px;
}
